{% extends "encyclopedia/layout.html" %}
{% load form_tags %}


{% block title %}
   Create New Page - uniVVV Encyclopedia
{% endblock %}

{% block body %}
  <div class="container mt-4">
    <h2>Create New Page</h2>
    <form method="post" class="needs-validation" novalidate>
      {% csrf_token %}
      
      <div class="mb-3">
        <label for="id_title" class="form-label">Title</label>
        {{ form.title|add_class:"form-control" }}
        {% if form.title.errors %}
          <div class="invalid-feedback">
            {% for error in form.title.errors %}
              <div>{{ error }}</div>
            {% endfor %}
          </div>
        {% endif %}
      </div>
      
      <div class="mb-3">
        <label for="id_content" class="form-label">Content</label>
        {{ form.content|add_class:"form-control" }}
        {% if form.content.errors %}
          <div class="invalid-feedback">
            {% for error in form.content.errors %}
              <div>{{ error }}</div>
            {% endfor %}
          </div>
        {% endif %}
      </div>

      <div class="mt-3">
        <button type="submit" class="btn btn-bd-primary">Save Now</button>
      </div>

      {% if title %}
        <h1>{{ title }}</h1>
      {% endif %}
    </form>
  </div>
{% endblock %}
