{% extends "encyclopedia/auth_layout.html" %}
{% load static %}


{% block title %}
    Home
{% endblock %}

{% block body %}
<div class="container-fluid p-0">
    <div id="apod-container" class="position-relative vh-100">
        <img id="apod-image" class="img-fluid w-100 h-100 position-absolute top-0 start-0" src="{% static 'encyclopedia/images/space.png' %}" alt="Astronomy Picture of the Day">
        <div id="apod-description" class="description position-absolute bottom-0 start-0 w-100 p-3 text-white bg-dark bg-opacity-75"></div>
    </div>
</div>
{% endblock %}
